Задание 44
В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI'lst})
data.head()

In [78]:
import pandas as pd
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  robot
3  human
4  robot

In [79]:
pd.get_dummies(lst)
# как работает с get_dummies , который надо заменить.

    human  robot
0   False   True
1   False   True
2   False   True
3    True  False
4   False   True
5    True  False
6    True  False
7    True  False
8   False   True
9    True  False
10  False   True
11   True  False
12  False   True
13  False   True
14  False   True
15   True  False
16   True  False
17   True  False
18  False   True
19   True  False

In [80]:
lst_human = ['']*lst.__len__()
lst_robot = ['']*lst.__len__()
for i in range(lst.__len__()):
    if lst[i] == 'human':
        lst_human[i] = 'ТруЪ'
        lst_robot[i] = 'False'
    if lst[i] == 'robot':
        lst_human[i] = 'Нелюдь'
        lst_robot[i] = 'True'
data = pd.DataFrame({'human':lst_human, 'robot':lst_robot})
data

     human  robot
0   Нелюдь   True
1   Нелюдь   True
2   Нелюдь   True
3     ТруЪ  False
4   Нелюдь   True
5     ТруЪ  False
6     ТруЪ  False
7     ТруЪ  False
8   Нелюдь   True
9     ТруЪ  False
10  Нелюдь   True
11    ТруЪ  False
12  Нелюдь   True
13  Нелюдь   True
14  Нелюдь   True
15    ТруЪ  False
16    ТруЪ  False
17    ТруЪ  False
18  Нелюдь   True
19    ТруЪ  False